.name {
	text-align: center;
	padding: 5px;
}



button.btn.waves-effect.waves-light {
    position:relative;
    left: 50%;
    margin-top:50%;
    };


    .list-item {
    padding: 10px 0;
    border: 1px solid #ccc;
}