<h1>Edit donations here</h1>
<h1>Item: {{selectedDonation.task}}</h1>
<button class="btn btn-info"><a ng-href="#/donation/edit/{{selectedDonation.id}}">Edit</a></button>
<button class="btn btn-success" ng-click="isAgreePickup(thingy.id)"><i class="fa fa-add" aria-hidden="true"></i> </button>Pick-up</div>
<h2>Assigned To: {{selectedDonation.assignedTo}}</h2>
<h2>Completed?: {{selectedDonation.isCompleted}}</h2>

 <h3>Completed Drop-offs</h3>
<div ng-repeat="donation in donations | filter: {isAgreePickup:true}">
	<div class="panel panel-default">
	    <div class="panel-body">
	        <div class="col-xs-1"><input type="checkbox" name="" ng-model="donation.isCompleted" ng-change="inputChange(donation)"></div>
	        <div class="col-xs-9"><a href="#/donation/view/{{donation.id}}">{{donation.task}}</a></div>
	        <div class="col-xs-1">{{donation.assignedTo}}</div>
	        <div class="col-xs-1"><button class="btn btn-danger fa fa-trash-o" ng-click="deleteDonation(donation.id)"></button></div>

	        <div class="col-xs-2"><button class="btn btn-danger" ng-click="deleteDonation(thingy.id)"><i class="fa fa-add" aria-hidden="true"></i> </button>Pick-up</div>
	    </div>
	</div>
