<h2>Donation List</h2>

<!-- This is the search bar -->
<div class = "row">
	<div class="col-xs-6 col-xs-offset-3">
		<div class="input-group">
		<span class="input-group-btn">
			<button class="btn btn-default"><i class="fa fa-search"></i></button></span>
		<input type="text" class="form-control" placeholder="Search for..." ng-model="searchText">
		</div>
	</div>
</div>
<!--This shows the list of donations from the firebase file-->
<h3>Donations to be Picked up</h3>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="col-xs-1"></div>
        <div class="col-xs-7">Pick-up Address</div>
        <div class="col-xs-2">Pick-up Date</div>          
        <div class="col-xs-1"></div>
    </div>
</div>

<div ng-repeat="thingy in donations | filter: searchText">
    <div class="panel panel-default" ng-hide="thingy.isCompleted">
        <div class="panel-body">
            <div class="col-xs-1"><input type="checkbox" ng-model="thingy.isCompleted" ng-change="inputChange(thingy)"/></div>
            <div class="col-xs-7"><a ng-href="#/donation/view/{{thingy.id}}">{{thingy.task}}</a></div>
            <div class="col-xs-2">{{thingy.dueDate}}</div>
            <div class="col-xs-1">{{thingy.assignedTo}}</div>            
            <div class="col-xs-1"><button class="btn btn-danger" ng-click="deleteDonation(thingy.id)"><i class="fa fa-add" aria-hidden="true"></i> </button></div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body ng-app="">

<h3>Post a Donation for Pick-up</h3>
<button><a ng-href="#/donation/new">Click</a></button>

 <h3>Completed Drop-offs</h3>
<div ng-repeat="donation in donations | filter: {isCompleted:true}">

	<div class="panel panel-default">
	    <div class="panel-body">
	        <div class="col-xs-1"><input type="checkbox" name="" ng-model="donation.isCompleted" ng-change="inputChange(donation)"></div>
	        <div class="col-xs-9"><a href="#/donation/view/{{donation.id}}">{{donation.task}}</a></div>
	        <div class="col-xs-1">{{donation.assignedTo}}</div>
	        <div class="col-xs-1"><button class="btn btn-danger fa fa-trash-o" ng-click="deleteDonation(donation.id)"></button></div>
	    </div>
	</div>
</div>
