

<div ng-controller="TodoCtrl" class="container" ng-app="TodoApp">

<h2>Donation list using AngularJS and Firebase</h2>

<!--ADD ITEM FORM-->
<form name="todoForm">

    <div>
        <input type="text"
               name="todoNameField"
               ng-model="todoName"
               placeholder="Add new task (min 3 chars)"
               required ng-minlength="3"
               class="form-control"
               ng-keyup="($event.keyCode == 13 && todoName.length > 2) ? addItem() : return"
               style="margin-bottom: 10px"
                />

        <button ng-click="addTodo()"
                ng-hide="myForm.todoNameField.$invalid"
                class="btn btn-primary" type="button"
                >Save Todo
        </button>
    </div>

</form>

    <hr />

<!--TODO LIST-->

<h4 ng-show="(todos | filter:{status: 'pending'}).length">Pending</h4>

<div ng-repeat="todo in todos | filter:{status: 'pending'}"
     class="row list-item">

    <div class="col-md-6">

        <!--TODO LABEL-->
        <span>{{todo.name}}</span>
    </div>
    <div class="col-md-6 text-right">
        <!--START TODO BUTTON-->
        <a class="btn btn-warning"
           ng-click="startTodo($index, todo)">
            Start
        </a>

        <!--DELETE TODO BUTTON-->
        <a class="btn btn-danger"
           ng-click="removeTodo($index, todo)">
            <i class="glyphicon glyphicon-remove"></i> Remove
        </a>

    </div>

</div>

<h4 ng-show="(todos | filter:{status: 'in progress'}).length">In Progress</h4>

<div ng-repeat="todo in todos | filter:{status: 'in progress'}"
     class="row list-item bg-warning">

    <div class="col-md-6">

        <!--TODO LABEL-->
        <span>{{todo.name}}</span>
    </div>
    <div class="col-md-6 text-right">
        <!--COMPLETED TODO BUTTON-->
        <a class="btn btn-primary"
           ng-click="completeTodo($index, todo)">
            <i class="glyphicon glyphicon-ok"></i> Complete
        </a>

        <!--DELETE TODO BUTTON-->
        <a class="btn btn-danger"
           ng-click="removeTodo($index, todo)">
            <i class="glyphicon glyphicon-remove"></i> Remove
        </a>

    </div>

</div>

<h4 ng-show="(todos | filter:{status: 'complete'}).length">Completed</h4>

<div ng-repeat="todo in todos | filter:{status: 'complete'}"
     class="row list-item bg-success">

    <div class="col-md-6">

        <!--TODO LABEL-->
        <span>{{todo.name}}</span>
    </div>
    <div class="col-md-6 text-right">

        <!--DELETE TODO BUTTON-->
        <a class="btn btn-danger"
           ng-click="removeTodo($index, todo)">
            <i class="glyphicon glyphicon-remove"></i> Remove
        </a>

    </div>

</div>

<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="app.js"></script>
</div>
<!-- <div class = "row">
	<div class="col-xs-6 col-xs-offset-3">
		<div class="input-group">
		<span class="input-group-btn">
			<button class="btn btn-default"><i class="fa fa-search"></i></button></span>
		<input type="text" class="form-control" placeholder="Search for..." ng-model="searchText">
		</div>
	</div>
</div>
<h3>Donations to be delivered</h3>
<div ng-repeat="item in items | filter: {isCompleted:false} | 			filter: searchText">
	<div class ="panel panel-default">
		<div class="panel-body">
			<div class="col-xs-1"><input type="checkbox" ng-model="donation.isCompleted" ng-change="inputChange(item)"></div>
			<div class="col-xs-9"><a href="#/items/view/{{item.id}}">{{item.task}}</a></div>
            <div class="col-xs-1">{{item.assignedTo}}</div>
            <div class="col-xs-1"><button class="btn btn-danger fa fa-trash-o" ng-click="deleteItem(item.id)"></button></div>
        </div>
    </div>
</div>

<h3>Completed</h3>
<div ng-repeat="item in items | filter: {isCompleted:true}">
	<div class="panel panel-default">
	    <div class="panel-body">
	        <div class="col-xs-1"><input type="checkbox" name="" ng-model="item.isCompleted" ng-change="inputChange(item)"></div>
	        <div class="col-xs-9"><a href="#/items/view/{{item.id}}">{{item.task}}</a></div>
	        <div class="col-xs-1">{{item.assignedTo}}</div>
	        <div class="col-xs-1"><button class="btn btn-danger fa fa-trash-o" ng-click="deleteItem(item.id)"></button></div>
	    </div>
	</div>
</div> -->
